[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
pandas = "*"
psycopg2-binary = "*"
dnspython = "*"
python-decouple = "*"
gunicorn = "*"
python-dotenv = "*"
transformers = "*"
requests = "*"
beautifulsoup4 = "*"
numpy = "*"
category-encoders = "*"
tensorflow = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.9"
